<h2>Typing challenge</h2>
<p class="text-center ">
    <span 
    [ngClass]="{'text-dark': !enteredText[i], 'text-success': enteredText[i] == char, 'text-danger': enteredText[i] != char }"
    *ngFor="let char of displayText.split(''); let i = index">{{char}}</span>
</p>
<input type="text" class="w-100 h-20" [(ngModel)] = 'enteredText' >
<p *ngIf="displayText == enteredText && displayText.length == enteredText.length" class="text-success text-center ">You Win!</p>
<p *ngIf="displayText != enteredText &&displayText.length == enteredText.length" class="text-danger text-center">Loose!</p>

<!-- (input)="checkText($event) " -->