<div class="main d-flex container-fluid vh-100 p-5" style="background-color: #E3E8EC;"  >

  <div class="row w-100" style="border: 1px solid;">

    <div class="col-6 bg-white d-flex align-items-center" >
      <div class="container-fluid d-flex flex-column" style="border: 1px solid;">

        <div class="logo-img my-0 mx-auto" style="width: 100px; height: 100px;" >
          <img class="w-100 h-100" src="https://entpsupport.posist.biz/assets/images/posist-symbol-icon.png" style="object-fit: contain;">
        </div>

        <div class="hello-again-div d-flex justify-content-center align-items-center gap-1" style="font-family: 'PT Serif', serif;">
          <span style="font-size: 20px;">Hello Again</span>
          <div class="" style="width: 30px; height: 30px;">
            <img style="object-fit: contain; width: 100%; height: 100%;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Emoji_u1f44b.svg/2048px-Emoji_u1f44b.svg.png">
          </div>
          
      </div>

      <!--             
 <!-- <span style=" color: #97999d; font-size: 14px;">Welcome back, you've been missed</span> -->
      </div>
      
    </div>

    <div class="col-6" style="background-color: #FAFAFA;" >

    </div>

  </div>
 </div>